/* Error: Undefined mixin.
 *    ,
 * 25 |     @include btn-outline-custom(($primary));
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   styles\_buttons.scss 25:5  @import
 *   main.scss 3:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 25 \2502      @include btn-outline-custom(($primary));\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   styles\\_buttons.scss 25:5  @import\a   main.scss 3:9              root stylesheet";
}
