.btn {
    border: $border-1 $red;
    background-color: #fff;
    color: #333;

}

@mixin btn-custom($theme: DarkGray) {
    background-color: $theme;
    color:$white
}

@mixin btn-custom($theme: DarkGray) {
    background-color: #fff;
    color: $theme
}


.btn-red {
    @include btn-custom($theme: $red);
}


.btn-outline-primary {
    @include btn-outline-custom(($primary));
}

.btn-outline-secondary {
    @include btn-outline-custom(($secondary));
}

.btn-outline-danger {
    @include btn-outline-custom(($danger));
}